html {
  font-family: "PT Sans", sans-serif;
}

.dosis {
  font-family: Dosis, sans-serif;
}

.logo {
  float: left;
  max-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

span {
  color: #fff;
}

header,
.footer {
  background-color: #2c4f62;
  color: #fff;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #fff;
  border: solid 1px #2c4f62;
}

a:hover {
  background-color: #ff8b00;
  border: solid 1px #ff8b00;
  border-radius: 5px;
  color: #fff;
}

.current {
  background-color: #f7d364;
  border: solid 1px #f7d364;
  color: #173b46;
  border-radius: 5px;
}

.btn {
  background-color: #173b46;
  border: solid 1px #173b46;
  border-radius: 5px;
  margin-left: 3em;
  margin-top: 3em;
}

.btn-2 {
  margin-left: 1em;
  margin-top: 1em;
}

.lab {
  width: 320px;
  overflow: hidden;
}

.yellow {
  background-color: #f7d364;
}

.cream {
  background-color: #f9f7f3;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

.card {
  display: inline-block;
}

form {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 60em) {

  .about,
  .yellow {
    padding-left: 7em;
    padding-top: 7em;
    padding-bottom: 7em;
    padding-right: 5em;
  }

  .lab {
    width: 500px;
    overflow: hidden;
  }

}
